/* styling for individual blog posts */

.summary {
  width: calc(100% - 10px);
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.markdown-body a {
  color: black;
  text-decoration: underline;
}

.markdown-body img {
  display: block;
  margin: 0 auto;
}

